bin/Debug/net6.0/Desafio Projeto Hosperagem.deps.json
bin/Debug/net6.0/Desafio Projeto Hosperagem.dll
bin/Debug/net6.0/Desafio Projeto Hosperagem.exe
bin/Debug/net6.0/Desafio Projeto Hosperagem.pdb
bin/Debug/net6.0/Desafio Projeto Hosperagem.runtimeconfig.json
obj/Desafio Projeto Hosperagem.csproj.nuget.dgspec.json
obj/Desafio Projeto Hosperagem.csproj.nuget.g.props
obj/Desafio Projeto Hosperagem.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Desafio Projeto Hosperagem.AssemblyInfo.cs
obj/Debug/net6.0/Desafio Projeto Hosperagem.AssemblyInfoInputs.cache
obj/Debug/net6.0/Desafio Projeto Hosperagem.assets.cache
obj/Debug/net6.0/Desafio Projeto Hosperagem.csproj.AssemblyReference.cache
obj/Debug/net6.0/Desafio Projeto Hosperagem.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Desafio Projeto Hosperagem.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Desafio Projeto Hosperagem.dll
obj/Debug/net6.0/Desafio Projeto Hosperagem.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Desafio Projeto Hosperagem.genruntimeconfig.cache
obj/Debug/net6.0/Desafio Projeto Hosperagem.GlobalUsings.g.cs
obj/Debug/net6.0/Desafio Projeto Hosperagem.pdb
obj/Debug/net6.0/ref/Desafio Projeto Hosperagem.dll
obj/Debug/net6.0/refint/Desafio Projeto Hosperagem.dll
